In [ ]:
Q1. Create one variable containing following type of data:

str = "saksham"
l = [2,3,4,3,5,"saksham","pwskills",24.54,True]
f = 74.56
a_tuple = ('abc', 'xyz', 123, 231, 13.31, 0.1312)

In [ ]:
Q2. Given are some following variables containing data:

(i) str
(ii) str
(iii) list
(iv) float

In [ ]:
Q3. Explain the use of the following operators using an example:

(i) / it is arithmetic operator used for division 
ex: a = 6 
    b = 3
    a/b
    output = 2
(ii) % it is called modulo operation 
ex:
  a%b
  o/p = 0
  
(iii) // it is called floor division operation
ex:
    a//b
    o/p = 2
    
    
(iv) ** it is called the power operation 

ex:
   a to the power  b 
   a**b
   o/p = 216

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

l = [1,2,3,4,"saksham","pwskills",True,25.54,"pal",41]

for i in l :
    print(type(i))
    print(i)

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

A = 36
B = 6
count = 0

while A % B == 0:
    count += 1
    A //= B

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.


my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]


for i in my_list :
    
    if i%3==0 :
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable data types:
Immutable data types are those whose value cannot be changed once they are created.
Whenever you perform any operation on an immutable object, a new object is created with the updated value. 
Examples of immutable data types in Python include int, float, complex, bool, str, bytes, and tuple.

Here's an example to illustrate the immutability of a tuple:

# create a tuple
my_tuple = (1, 2, 3)

my_tuple[0] = 4 
# this will raise a TypeError: 'tuple' object does not support item assignment

Mutable data types:
Mutable data types are those whose value can be changed after they are created. Whenever you perform any operation on a mutable object, the original object is modified. Examples of mutable data types in Python include list, set, dict, and bytearray.

Here's an example to illustrate the mutability of a list:

# create a list
my_list = [1, 2, 3]

# modify the second element of the list
my_list[1] = 4

# print the modified list
print(my_list)  # output: [1, 4, 3]